{% include "header.html.twig" %}

<body class="color">
    {% block navbar %} {% include "navbar.html.twig" %} {% endblock navbar %} {% block content %} {% endblock content %} {% block
    footer %} {% endblock footer %}
</body>

{% include "js.html.twig" %} {% block js %} {% endblock js %}

</html>