{% extends "base.html.twig" %} {% set title = 'Inicio - historias' %}
{% block navbar %}
    {{ parent() }}
{% endblock navbar %}
{% block content %}
<div class="col-xs-12 col-sm-4 col-sm-offset-4" style="padding-top:5%">
    <div class="well">historias</div>
    <div class="jumbotron">
        
    </div>
</div>
{% endblock content %}